* {
	box-model:border-box;
}

html, body {
	margin:0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #1e5799;
	background: radial-gradient(ellipse at center, #2989d8 1%,#1e5799 100%);

	color: white;
	font-family: Arial;
	text-align: center;
}

h1 {
	margin: 0;
}

body.transition-all {
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

body.shadow {
	background-image: none;
	background-color: #333;
	color:#555;
}

body.shadow input[type="text"], body.shadow span{
	background-color: #333;
	color: #666;
	border-color: #666;
}

body.shadow span {
	background-color: #222;
}

h1 {
	font-size: 4em;
}

.wrapper-all {
	margin-top: 10%;
}

.wrapper-all-video {
	margin-top: 6%;
}

.wrapper-all p {
	font-size: 1.4em;
	margin-top: 1em;
	margin-bottom: 3em;
	color: rgba(0,0,0,0.5);
}

input[type="file"] {position: relative; display: inline-block; width: 310px; height: 50px;}
input[type="file"]::after {
	content: "Escolher arquivo";
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	font-size:20px;
	text-align: center;
	background-color: #174C79;
	box-shadow:0 0 15px rgba(0,0,0,0.2) inset;
	border-radius: 3px;
	position: absolute;
	top: 0;
	z-index: 40;
}

input[type="file"]:active::after{
	background-color: #14456E;
	trasform: scale(0.9);
}

.btn {
	height: 50px;
	width: 310px;
	padding: 0;
	line-height: 50px;
	vertical-align: middle;
	font-size:20px;
	text-align: center;
	box-shadow:0 0 15px rgba(0,0,0,0.2) inset;

}

.submit {
	display:block;
	background-color: white;
	color: #174C79;

	margin:auto;
	margin-top: 5px;
}

div.wrap-progress-bar {
	width: 60%;
	margin: auto;
}

div.wrap-label-bar {
	display: block;
	padding-bottom: 3px;
	height: 40px;
	line-height: 40px;
	vertical-align: bottom;
	position: relative;
}

.label-bar{
	display: inline-block;
}

div.progress {
	
	height: 10px;
	display: block;
	
	background: rgba(0,0,0,0.2);
	border-radius: 0px;
}

div.progress div.bar {
	background: rgba(0,0,0,0.3); /*#8FC400*/
	border-radius: 0px;
	display: block;
	height: 10px;
	margin: 0;
}

span.percent {
	position: absolute;
	right: 0;
	bottom: 0;
	color: rgba(0,0,0,0.3);
	font-size: 30px;

}

.hide {
	display: none;
}

.wrapper-video {
	display: block;
	margin-top: 20px;
	height: auto;
	background-color: black;
}

.wrapper-video video{
	min-height: 400px;
	
}

.group-link {
	width: 650px;
	margin: auto;
	position: relative;
	margin-top: 30px;

}

.group-link input {
	
	height: 40px;
	border:1px solid #AAA;
	border-left: 0;
	display: inline-block;
	width: 100%;
	border-radius: 3px;
	padding-left: 110px;
	box-sizing:border-box;
	line-height: 40px;
	vertical-align: middle;
}

.group-link span {
	display: block;
	top: 0;
	bottom: 0;
	width: 100px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	position: absolute;
	background-color:  #174C79;
	left: 0;
	bottom: 0;
	z-index: 10;
	border-radius: 3px 0 0 3px;
}



